{
  "extends": "eslint-config-egg",
  "rules": {
      "linebreak-style": [0, "error", "windows"],
      "indent": [1, 4],
      "valid-jsdoc": 0,
      "spaced-comment": 0,
      "quotes": 0,
      "prefer-const": 0,
      "newline-per-chained-call": 0,
      "semi": 1,
      "keyword-spacing": 1,
      "no-else-return": 1,
      "eol-last": 1
  }
}
